<h2>プロフィール編集</h2>
<%= form_with model: @public, url: public_path(current_customer.id) do |f| %>
  <label for="family_name">苗字</label>
  <%= f.text_field :family_name %>
  <label for="family_name">名前</label>
  <%= f.text_field :first_name %>
  <%= f.submit "変更を保存" %>
<% end %>
