<h1>Admin::Public#index</h1>
<p>Find me in app/views/admin/public/index.html.erb</p>
<% @customers.each do |customer| %>
  <%= link_to customer.family_name, edit_admin_public_path(customer.id) %>
  氏名<%= customer.first_name %>
<% end %>